/* ===== RESET CSS básico ===== */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== FONTS NECESARIOS ===== */

@font-face {
  font-family: "Título h1";
  src: url("/fonts/Digital\ Change\ Demo.ttf") format('truetype');
} 

@font-face {
  font-family: "Opciones";
  src: url("/fonts/Blackney-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "text";
  src: url("/fonts/Petrona-VariableFont_wght.ttf") format('truetype');
}

/* ===== ESTILOS BASE ===== */
body {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  background-color: #31798c;
}

main {
    width: min(1100px, 90%);
    margin: 20px auto;
    background-color: #39aec6;
    box-shadow: 3px 14px 19px 22px #2e546e99;
}

p {
  font-family: "text";
  margin: 15px;
  font-size: 20px;
}

hr {
  width: 65%;
  margin: auto;
  border: #8cdbd6 solid 2px;
}

/* ===== CABECERA Y MENÚ SUPERIOR ===== */
.site-header { 
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #21556b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #bde3de;
  padding: 20px;
}

.site-header h1 {
  font-family: "Título h1";
  margin: 30px auto;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.main-nav a {
  color: #bde3de;
  padding: 10px;
  font-family: "Opciones";
  text-decoration: none;
}
.main-nav a:hover {
  color: whitesmoke;
}

.site-header figure {
  margin: 10px;
}

.chibi:hover {
  transform: scale(1.03);
}

/* ===== BOTÓN HAMBURGUESA PARA GESTIONAR EL MENÚ LATERAL ===== */

.open-menu {
  position: fixed;
  top: 14px;
  left: 14px;
  z-index: 20;
  font-size: 26px;
  cursor: pointer;
  background: none;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* ===== MENÚ LATERAL DESLIZANTE ===== */
.side-menu {
  position: fixed;
  top: 0;
  left: -230px;            
  width: 230px;
  height: 100%;
  background-color: #8cdbd6;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 15;
  font-family: "Opciones";
}

.side-menu.active {
  left: 0;     
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu a {
  display: block;
  padding: 12px 20px;
  color: #31798c;
  text-decoration: none;
}

.side-menu a:hover {
  color: whitesmoke;
}

/* ===== HERO ===== */

#hero figure img {
    height: auto;
    margin: auto;
    display: block;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
}

/* ===== TITULOS ===== */

h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  margin: 20px;
}

h3 {
  margin: 15px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  font-style: normal;
}

/* ===== GALERÍA ===== */

#galeria figure {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, autofr));
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

#galeria img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    display: block;
}

#galeria img:hover {
  transform: scale(1.03);
}

/* ===== TABLA DE DATOS ===== */

table, th {
  border: 2px solid #093649;
  width: 80%;
  margin: auto;
  background-color: #8cdbd6;
  text-align: left;
  font-size: large;
  border-radius: 5px;
}

/* ===== FORMULARIO ===== */

legend {
  font-family: "Press Start 2P", system-ui;
}

fieldset, input {
  font-family: "text";
  font-size: 20px;
  padding: auto;
  margin: 15px;
  border-radius: 15px;
  border: #8cdbd6;
}

 input.boton {
  background-color: #bde3de;
  margin: 20px auto;
  box-shadow: 6px 7px 10px -1px rgba(37,121,138,0.68);
  border: #21556b solid 2px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: 10%;
 }

 input.boton:hover{
  background-color: #a7ccc7;
  border-radius: 5px;
  box-shadow: 4px 5px 8px -1px rgba(37, 121, 138, 0.80);
 }

/* ===== CONTACTO ===== */

#con a {
  color: #000;
}

#con a:hover {
    background-color: #359eb3;
    border-radius: 5px;
}

#con li {
  font-family: "text";
  margin: 15px;
  font-size: 20px;
  margin-left: 50px;
}

/* ===== PIE DE PÁGINA ===== */

.site-footer {
  background-color: #21556b;
  text-align: center;
  padding: 20px;
  font-family: "Opciones";
  color: #bde3de;
}

.site-footer a:visited {
    text-align: center;
    color: #bde3de;
}

.site-footer a:hover{
  color: whitesmoke;
}











